<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration</title>
</head>
<body>
    <form action="register" method="POST">
        {% csrf_token %}

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name", placeholder="First Name"><br>
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" id="last_name", placeholder="Last Name"><br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username", placeholder="Username"><br>
        <label for="email">Email Address:</label>
        <input type="email" name="email" id="email", placeholder="Enter your Email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password", placeholder="Password"><br>
        <label for="password2">Re-Password</label>
        <input type="password" name="password2" id="password2", placeholder="Re-Password"><br>
        <input type="submit" value="Submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>